<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.revature.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployee</display-name>
    <servlet-name>GetEmployee</servlet-name>
    <servlet-class>com.revature.servlet.GetEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployee</servlet-name>
    <url-pattern>/api/get-employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeList</display-name>
    <servlet-name>GetEmployeeList</servlet-name>
    <servlet-class>com.revature.servlet.GetEmployeeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeList</servlet-name>
    <url-pattern>/api/get-employee-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/api/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrentSessionServlet</display-name>
    <servlet-name>CurrentSessionServlet</servlet-name>
    <servlet-class>com.revature.servlet.CurrentSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentSessionServlet</servlet-name>
    <url-pattern>/api/current-session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestServlet</display-name>
    <servlet-name>GetRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestServlet</servlet-name>
    <url-pattern>/api/get-request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRequestsServlet</display-name>
    <servlet-name>GetAllRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetAllRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRequestsServlet</servlet-name>
    <url-pattern>/api/get-all-requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRequestServlet</display-name>
    <servlet-name>CreateRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.CreateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRequestServlet</servlet-name>
    <url-pattern>/api/create-request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequestServlet</display-name>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <url-pattern>/api/update-request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestByStatusServlet</display-name>
    <servlet-name>RequestByStatusServlet</servlet-name>
    <servlet-class>com.revature.servlet.RequestByStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestByStatusServlet</servlet-name>
    <url-pattern>/api/request-by-status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeType</display-name>
    <servlet-name>GetEmployeeType</servlet-name>
    <servlet-class>com.revature.servlet.GetEmployeeType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeType</servlet-name>
    <url-pattern>/api/get-type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGradingFormatServlet</display-name>
    <servlet-name>CreateGradingFormatServlet</servlet-name>
    <servlet-class>com.revature.servlet.CreateGradingFormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGradingFormatServlet</servlet-name>
    <url-pattern>/CreateGradingFormatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEventServlet</display-name>
    <servlet-name>CreateEventServlet</servlet-name>
    <servlet-class>com.revature.servlet.CreateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEventServlet</servlet-name>
    <url-pattern>/api/create-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllFormatsServlet</display-name>
    <servlet-name>GetAllFormatsServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetAllFormatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFormatsServlet</servlet-name>
    <url-pattern>/api/get-all-formats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventServlet</display-name>
    <servlet-name>UpdateEventServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServlet</servlet-name>
    <url-pattern>/api/update-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventServlet</display-name>
    <servlet-name>GetEventServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventServlet</servlet-name>
    <url-pattern>/api/get-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestByEmployeeIDServlet</display-name>
    <servlet-name>GetRequestByEmployeeIDServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetRequestByEmployeeIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestByEmployeeIDServlet</servlet-name>
    <url-pattern>/api/request-by-employee-id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveOrDenayServlet</display-name>
    <servlet-name>ApproveOrDenayServlet</servlet-name>
    <servlet-class>com.revature.servlet.ApproveOrDenayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrDenayServlet</servlet-name>
    <url-pattern>/api/approve-or-deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteRequestServlet</display-name>
    <servlet-name>CompleteRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.CompleteRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteRequestServlet</servlet-name>
    <url-pattern>/api/complete-request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBcInfo</display-name>
    <servlet-name>GetBcInfo</servlet-name>
    <servlet-class>com.revature.servlet.GetBcInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBcInfo</servlet-name>
    <url-pattern>/api/get-bc-info</url-pattern>
  </servlet-mapping>
</web-app>